<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Artesanato</title>
    <<link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Produtos</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card" id="formulario-cadastro">
            <div class="card-header">
                <h3>Realizar Cadastro</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarcadastro" enctype="multipart/form-data">
                    <label>Nome</label>
                    <input type="text" placeholder="Nome" class="form-control" name="nome" required>
                    <br>
                
                    <label>Imagem</label>
                    <input type="file" name="imagem" class="form-control" required>
                    <br>
                
                    <label>Descrição</label>
                    <textarea placeholder="Descreva o produto aqui" class="form-control" name="descricao" required></textarea>
                
                    <label>Preço</label>
                    <input type="text" placeholder="Coloque o preço do produto aqui" class="form-control" name="preco" required>
                    <br>
                
                    <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
                </form>
                
            </div>
        </div>
    </div>

</body>
</html>
